// Mixins
// It's alwas a good idea to create mixins. If u have code u need to repeat often, create a mixin!
// It's also faster to use and if u need change something, u got it on one place
// https://sass-lang.com/documentation/at-rules/mixin

// My mixin for flexing elements
@mixin flexing(
  $direction: row,
  $wrap: nowrap,
  $justify: flex-start,
  $align-items: stretch,
  $align-content: stretch
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align-items;
  align-content: $align-content;
}

// Mixin for parallax layers
@mixin parallax-layer($depth) {
  &[data-depth="#{$depth}"] {
    transform: translateZ($depth * var(--parallax-layer-depth));
  }
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// Usage example:
/* .parallax-layer {
  @include parallax-layer(-0.2);
  @include parallax-layer(-0.4);
  @include parallax-layer(-0.6);
  // Add more depths as needed
} */
